body{
	margin:0;
}

p, li {
	margin-left: 4%;
	margin-right: 4%;
    font-size: 0.8rem;
}

[data-type="list"] .description_date {
    line-height: 1rem;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: #000;
}

#about_page{
	padding:0 0.4rem;
}

/*Color Adjust*/

.borderBlue{
	border-bottom: 0.1rem solid #2574a9;
}

.colorBlue{
	color: #2574a9;
	background: #2574a9;
	background-color: #2574a9;
}

.linkBlue:hover{
	background-color: #1e8bc3;
}

.buttonBlue{
	background-color:#59abe3;
	border:1px solid #3498db;
	color:white;
}

[data-type="list"] header {
  border-bottom: 0.1rem solid #2574a9;
  padding: 0 1.5rem;
  margin: 0;
  font-size: 1.2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: #2574a9;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#logo {
    width: 70%;
    padding: 0.3rem 0rem;
}
